<!DOCTYPEhtml>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hello There!</title>
</head>
<body>
<h1>Mister Pressly</h1>
{{$data := .}}
<p>Basic range</p>
<ul>
  {{range $data}}
  <li>{{.}}</li>
  {{end}}
</ul>

<p>Index Range</p>
<ul>
  {{range $index, $value := $data}}
  <li> #{{$index}}: {{$value}} </li>
  {{end}}
</ul>
</body>
</html>
