{{template "base" .}}
    {{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About, </h1>
                <p>Test outputs: {{index .StringMap "test"}}</p>
            </br>
                <p>Another dynamic text</p>
            </br>
                <b>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Remote IP: {{index .StringMap "remote_ip"}}
                    {{else}}
                        Remote IP: N/A
                    {{end}}
                </b>
            </div>
        </div>
    </div>
    {{end}}